@model IEnumerable<ThAmCo.Events.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>ThreeAmigos Corp Events</h1>

<p>
    <a asp-action="Create">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>

            </th>
            <th>
                
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for(var i=0;i<Model.Count();i++) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).DateOfEvent)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).EventType)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@Model.ElementAt(i).EventId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.ElementAt(i).EventId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.ElementAt(i).EventId">Cancel Event</a>
            </td>
            <td>
                    <a asp-action="ViewStaff" asp-route-id="@Model.ElementAt(i).EventId">View Staff</a>
            </td>
            <td>
                    <a asp-action="ViewGuests" asp-route-id="@Model.ElementAt(i).EventId">View Guests</a>
            </td>
            <td>
                    @if (@ViewBag.Data.Warnings[i] == true)
                    {
                        <span style="color: red;">Not Enough Staff</span>
                    } else
                    {
                        <span style="color: green;">✔</span>
                    }
                </td>
            </tr>
}
    </tbody>
</table>
