@model ThAmCo.Catering.Models.FoodItem

@{
    ViewData["Title"] = "Details";
}

<h1>FoodItem Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FoodItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
